<configuration>
    <system.web>
  	 <customErrors mode="On">
          <error statusCode="404" redirect="https://games.dtml.org/games" />
	</customErrors>
    </system.web>
<system.webServer>
      <staticContent>
         <clientCache cacheControlMode="DisableCache" />
      </staticContent>
</system.webServer>
</configuration>