.contentsection.gamecontent {
  margin-bottom: -150px;
}

@media only screen and (min-width: 761px) and (max-width: 1199px) {
  img {
    max-width: 100%;
    height: auto;
  }

  .logosection-main-right01 ul li {
    max-width: 180px;
  }

  .logosection-main {
    width: 98%;
    margin: 0 auto;
  }

  .logosection-main-left {
    width: 36%;
  }

  .logosection-main-right {
    width: 60%;
  }

  .contentsection-main {
    width: 98%;
    padding: 18px 0;
  }

  .contentsection-main-top h6 {
    font-size: 19px;
    margin-bottom: 18px;
  }

  .contentsection-main-top01 {
    width: 96%;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    min-height: 90px;
  }

  .contentsection-main-top {
    margin: 0 auto 15px auto;
  }

  .contentsection-main-middle-box {
    margin: 7px;
  }

  .footersecion-main {
    width: 98%;
  }

}

@media only screen and (min-width: 480px) and (max-width: 760px) {
  img {
    max-width: 100%;
    height: auto;
  }

  .logosection-main {
    width: 98%;
    margin: 0 auto;
  }

  .logosection-main-left {
    width: 60%;
    float: none;
    text-align: center;
    margin: 0 auto;
  }

  .logosection-main-right {
    width: 98%;
    float: none;
    margin: 0 auto;
    padding: 14px 0;
  }

  .logosection-main-right01 ul li {
    max-width: 100px;
  }

  .contentsection-main {
    width: 98%;
    padding: 18px 0;
    margin: 0 auto;
  }

  .contentsection-main-top h6 {
    font-size: 17px;
    line-height: normal;
    margin-bottom: 20px;
  }

  .contentsection-main-top01 {
    padding: 16px;
    min-height: 85px;
  }

  .contentsection-main-top01-main input[type="text"] {
    width: 65%;
  }

  .contentsection-main-middle-box {
    margin: 6px;
  }

  .contentsection-main-middle h5 {
    margin-top: 18px;
  }

  .footersecion-main {
    width: 98%;
    margin: 0 auto;
  }

  .bannersection01 h2 {
    font-size: 25px;
    line-height: normal;
  }

  .gamesection01 h2 {
    font-size: 19px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .gamesection01 p {
    color: #000;
    font-size: 15px;
    line-height: normal;
    font-weight: 400;
  }

  .gamesection01 ul li:first-child {
    margin-left: 1%;
  }

  .gamesection01 ul li {
    margin: 1%;
  }

  .ratesection-top-left {
    width: 100%;
    float: none;
    margin: 0 auto 10px auto;
  }

  .ratesection-top-right {
    width: 100%;
    float: none;
    margin: 0 auto 10px auto;
  }

  .ratesection-top-right h6 {
    margin: 0 4px 6px 0;
  }

  .ratesection-bottom01 {
    width: 100%;
    float: none;
    margin: 0 auto 8px auto;
  }

  .ratesection-bottom01 h5 {
    margin-top: 0;
    text-align: center;
  }

  .ratesection-bottom02 {
    width: 98%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  img {
    max-width: 100%;
    height: auto;
  }

  .logosection-main {
    text-align: center;
    width: 98%;
    margin: 0 auto;
    padding: 5px;
  }

  .logosection-main-left {
    width: 96%;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 0 0;
  }

  .logosection-main-right {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  .logosection-main-right01 {
    width: 100%;
    float: none;
    margin: 0 auto 5px auto;
    text-align: center;
  }

  .logosection-main-right01 ul {
    text-align: center;
  }

  .logosection-main-right01 ul li {
    float: none;
    display: inline-block;
    margin: 0 4px;
    max-width: 100px;
  }

  .logosection-main-right02 {
    width: 100%;
    text-align: center;
  }

  .logosection-main-right02 h6 a {
    font-size: 17px;
    line-height: 36px;
    padding: 0 21px;
  }

  .logosection-main-right01 ul li a {
    padding: 0 11px;
  }

  .contentsection-main {
    width: 98%;
    padding: 12px 0;
    margin: 0 auto;
  }

  .contentsection-main-top h6 {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 16px;
  }

  .contentsection-main-top01 {
    min-height: 100px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .contentsection-main-top01-main input[type="text"] {
    width: 98%;
    float: none;
    margin: 7px auto;
    text-align: center;
    min-height: 37px;
    font-size: 16px;
  }

  .contentsection-main-top01-main {
    text-align: center;
  }

  .contentsection-main-top01-main input[type="submit"] {
    float: none;
    display: inline-block;
    font-size: 15px;
    line-height: 37px;
  }

  .contentsection-main-top {
    margin: 0 auto 12px auto;
  }

  .contentsection-main-middle h5 {
    margin-top: 15px;
  }

  .sponsors-setion h6 {
    margin-top: 8px;
  }

  .footersecion-main {
    width: 98%;
    margin: 0 auto;
    text-align: center;
  }

  .footersecion-main-left {
    width: 100%;
    float: none;
    text-align: center;
  }

  .footersecion-main-left ul {
    text-align: center;
    display: table;
    width: 100%;
  }

  .footersecion-main-left ul li {
    float: none;
    display: inline-block;
    margin: 0 2px;
  }

  .footersecion-main-right {
    width: 100%;
    text-align: center;
  }

  .bannersection01 h2 {
    font-size: 22px;
    line-height: normal;
  }

  .gamesection01 h2 {
    font-size: 19px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .gamesection01 p {
    color: #000;
    font-size: 15px;
    line-height: normal;
    font-weight: 400;
  }

  .gamesection01 ul li:first-child {
    margin-left: 1%;
  }

  .gamesection01 ul li {
    margin: 1%;
  }

  .ratesection-top-left {
    width: 100%;
    float: none;
    margin: 0 auto 10px auto;
  }

  .ratesection-top-right {
    width: 100%;
    float: none;
    margin: 0 auto 10px auto;
  }

  .ratesection-top-right h6 {
    margin: 0 4px 6px 0;
  }

  .ratesection-bottom01 {
    width: 100%;
    float: none;
    margin: 0 auto 8px auto;
  }

  .ratesection-bottom01 h5 {
    margin-top: 0;
    text-align: center;
  }

  .ratesection-bottom02 {
    width: 98%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .contentsection.gamecontent {
    margin-bottom: 0;
  }

}





