@import "http://blog.dtml.org/Custom/Themes/Clean/src/css/bootstrap.min.css";
@import "http://blog.dtml.org/Custom/Themes/Clean/src/css/styles.min.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.activeClass {
  color: #00ff;
}

.notactiveClass {
  color: #ef7117;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid green;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.getcode {
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

}

.codearea {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  min-height: 100px;
  display: block;
}

.gameframe {
  max-width: 800px;
  min-width: 300px;
}

.bodyContainer {
  margin-top: 15px;
}

.main {
  padding-left: 30px;
}

.right {
  padding-right: 15px;
  min-width: 100px;
  padding-left: 15px;
  float: right;
}

.right > img {
  width: 400px
}

.nav {
  min-width: 200px;
  border-right: 1px solid #ddd;
  padding-left: 30px;
}