<configuration>
    <system.web>
  	 <customErrors mode="On">
          <error statusCode="404" redirect="https://games.dtml.org/games/" />
	</customErrors>
    </system.web>
<system.webServer>
      <staticContent>
         <clientCache cacheControlMode="DisableCache" />
      </staticContent>
        <!-- This part is responsible for URL rewrites -->
        <rewrite>
          <rules>
	     <rule name="EscapedFragment" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                       <add input="{QUERY_STRING}" pattern="(.*)_escaped_fragment_=(.*)" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="snapshots/snapshot_{R:2}.html" />
                </rule>
             <rule name="Redirect To Index" stopProcessing="true">
  		 <match url=".*" />
  		 <conditions logicalGrouping="MatchAll">
  		 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    		 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                 <add input="{REQUEST_URI}" pattern="^/games/api/" negate="true" />
                 </conditions>
                 <action type="Rewrite" url="/games/index.html" />
             </rule>
          </rules>
        </rewrite>
</system.webServer>
</configuration>